
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* choose a background color  */
body {
    background-color: rgb(245, 245, 236);  
}

/*choose nav bar background color*/
header { 
    background-color: rgb(9, 47, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position: 100%;
}
/* created class for nav bar  */
.main-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    contain: layout;    
}
/* style: colors, decorations and font choice for nav */
nav ul li {
    display: inline-block;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 60px;
    padding-top: 40px;    
}

li {
    margin-right : 5px;
    display: flexbox;
    justify-items: flex-end;
} 

header a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    
}

a:hover {
    color: rgb(126, 190, 241);
    font-weight: 200;      
}

/* font family and weight for paragraph tag */
p {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 300px; 
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px ;
    font-size: 18px;
  
/* responsive */
@media screen and ( max-width: 800px) {
    p {
        margin: 150px 30px 30px 30px;
    }
    a:link {
        font-size: 14px;
    }
}
@media screen and ( max-width: 375px) {
   
    nav ul li {
        justify-content: space-between;
        align-items: center;        
    } 
    header a {
        font-size: 14px;
    }
   
}
