
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 236);  
}

header { 
    background-color: rgb(9, 47, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    contain: layout;
}

nav ul li {
    display: inline-block;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 60px;
    padding-top: 40px;
}

li {
    margin-right : 5px;
    display: flexbox;
    justify-items: flex-end;
} 

header a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

a:link {
    color: white;  
}

a:hover {
    color: rgb(126, 190, 241);
    font-weight: 200;   
}
div p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 230px;
    margin-top: 90px;
}
div p a:link {
    color:rgb(9, 47, 65);
    
}
.content {
    display: flex;
    margin-top: 10px;
    margin-left: 230px;

}

img {
    width: 500px;
    height: 350px;
    padding-right: 40px;
   
}
