
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* choose a background color  */
body {
    background-image: url(../portfolio_html/images/pink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}
/*choose nav bar background color*/
header { 
    background-color: rgb(9, 47, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    background-position: 100%;
}
/* created class for nav bar  */
.main-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    contain: layout;
}

/* style: colors, decorations and font choice for nav */
nav ul li {
    display: inline-block;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 60px;
    padding-top: 40px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

header a:link {
    color: white;
}

a:hover {
    color: rgb(126, 190, 241);
    font-weight: 200;   
}
/* positioning for text */
main {
    padding-top: 200px;
}
/* font position on home page */
main h1 {
    text-align: center;
    
}
/* font position on home page */
main h2 {
    text-align: center;

}
/* font family choice, color, weight and size h1 and h2 */
h1 {
    font-size: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    color: white;  
} 
h2 {
    font-size: 35px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 100;
    color: white;  
}
 
/* responsive */
@media screen and (max-width: 1000px) {

    main {
       padding-top: 200px;
    }
}
   
@media screen and ( max-width: 375px) {
   
    nav ul li {
        justify-content: space-between;
        align-items: center;      
    } 
    header a {
        font-size: 14px;
    }
   
   
}

    
